<app-header></app-header>

<section class="section">   <!-- Aplica un espaciado vertical alrededor de la sección -->
    <div class="container">
        <h1 class="title">Iniciar Sesión</h1>
        <form>
            <div class="field"> <!-- Un contenedor para los elementos de formulario que aplica un espaciado adecuado. -->
                <label class="label">Correo Electrónico</label>
                <div class="control"> <!-- Un contenedor para los elementos de control de formulario, como inputs. -->
                    <input class="input" type="email" placeholder="ejemplo@correo.com" required>
                </div>
            </div>

            <div class="field"> <!-- Un contenedor para los elementos de formulario que aplica un espaciado adecuado. -->
                <label class="label">Contraseña</label>
                <div class="control"> <!-- Un contenedor para los elementos de control de formulario, como inputs. -->
                    <input class="input" type="password" placeholder="********" required>
                </div>
            </div>
        </form>
    </div>
</section>

<app-continue></app-continue>
<app-footer></app-footer>