<app-header></app-header>
<section class="section">
    <div class="container overflow: hidden">
        <div id="carousel-demo" class="carousel">
            <div class="carousel-item has-text-centered">
                <img src="https://picsum.photos/id/12/640/480" alt="Image 12">
            </div>
            <div class="carousel-item has-text-centered">
                <img src="https://picsum.photos/id/35/640/480" alt="Image 35">
            </div>
            <div class="carousel-item has-text-centered">
                <img src="https://picsum.photos/id/28/640/480" alt="Image 28">
            </div>
        </div>
        <div><!-- *ngIf="showContinue">-->
            <app-continue [validateForm]="false"></app-continue>
        </div>
    </div>
</section>
<app-footer></app-footer>